/* styles.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
  }
  
  .card {
    background-color: rgba(239, 157, 157, 0.905);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formLabel {
    font-weight: bold;
  }

  .custom-font-size {
    font-size: larger;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 10px;
    background-color: rgba(239, 236, 233, 0.666);
  }

  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .message {
    width: 100%;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
  }

  .urlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url {
  font-size: 18px;
  margin-bottom: 20px;
}

.copyButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}